* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: black;
    padding: 0px 60px;
    /* height: 1000px; */
}

ul {
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important;
    justify-content: space-evenly !important;
}

.separator {
    margin: 5px rgb(39, 39, 39) !important;

}

div .card-body {
    /* padding: 30px !important; */
    text-align: left;
    max-height: 300vh !important;
    border: none;
    /* border: 5px solid red !important; */
}

div .card {
    display: flex;
    padding: 15px 40px;
    /* row-gap: 20px; */
    column-gap: 50px;
    border: none;
}

.learnmorebtn {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    max-width: 50% !important;
    border: none;
    background-color: rgba(211, 122, 7, .9) !important;
    color: white;
}



/* footer{
    margin-top: 10px;
    background-color: black !important;
}
div .container{
    background-color: black !important;
} */